@page
@model JourneyModel
@{ ViewData["Title"] = "Journey page"; }

<div class="blocknews">
    <h1 class="display-4">Топ-20 мест для путешествий: куда поехать в 2020 году</h1>
    <p>
        Многие уже сейчас планируют поездки на весну и лето, что, в общем-то, логично: можно купить дешёвые билеты и урвать хороший номер в отеле. Но сложнее понять, куда именно ты хочешь, если ты уже более-менее пресыщен путешествиями.

        Спешу вас порадовать: тут Forbes составил подборку лучших направлений для туристов в 2020 году, а я её частично процитирую со своими комментариями. Кстати, кое-куда из этого списка я и сам собираюсь отправиться, потому что не ещё добрался, а хочется.

        Итак, давайте посмотрим, куда сейчас популярно летать среди избалованных западных туристов!
    </p>
    <p>Бронируйте авиабилеты онлайн без скрытых комиссий и сборов на  <a href="https://tickets.kz/">Tickets.kz</a>.</p>
    <img src="images/3.jpg" class="blockimages">
    <asp:Image ID="Image1" runat="server" BorderWidth="0px" Height="450px" ImageUrl=C:\Users\Гульдана\source\repos\WebApplication19\WebApplication19\wwwroot\Images\2.jpg
               Width="900px" />
    <br><p>
        1. Амангири/Озеро Пауэлл, Юта/Каньон Антилопы, Аризона

        Почему? Захватывающая красота окружающих пейзажей делает это место не похожим ни на что другое в США. Это место всего в четырех часах езды от Финикса или Лас-Вегаса, а на частном самолете вообще рукой подать.

        В каньоне Антилопы я не был. Его держат индейцы. Когда я туда приехал, я не учёл разницу во времени между Калифорнией и Аризоной, и каньон оказался закрыт. Но, судя по отзывам людей, которые там бывают, это действительно одно из самых захватывающих мест в США. Так что если кто-то едет на Большой каньон и по окрестностям, это место обязательно нужно посетить! Я сам мечтаю, это must see.
    </p>
    <br>
    <br>
    <img src="images/2.jpg" class="blockimages">
    <br>
    @{
                    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                    {
        <p>
            <label>Оставить комментарий</label>

            @Html.TextArea("Text", "", new { type = "string" })





            <input type="submit" value="Отправить" />

        </p>} }
    <br><p>
        2. Палермо/Сицилия, Италия

        Почему? Остров Сицилия может похвастаться одними из самых удивительных мест в мире, например, легендарной Долиной храмов, где сохранились руины семи дорических храмов среди потрясающих пейзажей с миндальными рощами и оливковыми деревьями. Сицилия отличается своей аутентичностью, которая исчезла со временем во многих других местах. Такие деревни, как Ното, известны своей барочной архитектурой и фасадами из известняка.

        В Палермо я, кстати, тоже не был и тоже хочу, так что список прямо для меня!
    </p>

    <br>
    <img src="images/3.jpg" class="blockimages">
    <br>
    @{
                    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                    {
        <p>
            <label>Оставить комментарий</label>

            @Html.TextArea("Text", "", new { type = "string" })





            <input type="submit" value="Отправить" />

        </p>} }
    <br><p>
        3. Мельбурн, Австралия

        Почему? Космополитичный город, славящийся искусством и высоким уровнем жизни. Он гораздо больше похож на Европу, чем Сидней. Стрит-арт Мельбурна неподражаем и меняется чуть ли не каждый день.

        Мельбурн – однозначно да. Вообще, по Австралии нужно прокатиться по Большой океанской дороге, это одно из главных развлечений.
    <p>

        <br>
        <img src="images/6.jpg" class="blockimages">
        <br>
        @{
                        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                        {
        <p>
            <label>Оставить комментарий</label>

            @Html.TextArea("Text", "", new { type = "string" })





            <input type="submit" value="Отправить" />

        </p>            } }
        <br>

        4. Сан-Мигель-де-Альенде, Мексика

        Почему? Это идеальное место для состоятельных путешественников, предпочитающих останавливаться в элегантных местах. Путешественникам рекомендуют сочетать отдых с посещением Мехико для покупки предметов искусства.

        И в Сан-Мигель-де-Альенде тоже не был. Странно, кстати, что в подборке сразу два Чили, две Мексики, и два городка на Балканах.


        <br>
        <img src="images/7.jpg" class="blockimages">
        <br>

        @{
                        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                        {
            <p>
                <label>Оставить комментарий</label>

                @Html.TextArea("Text", "", new { type = "string" })





                <input type="submit" value="Отправить" />

            </p>            } }
    </div>
