@page
@model News2Model
@{ ViewData["Title"] = "Штормовое предупреждение объявлено в Нур-Султане и 8 регионах,"; 
}
<p>
    <br><img src="images/n2.jpeg" class="blockimages">
    <br>Штормовое предупреждение объявлено в Нур-Султане и 8 регионах, передает Tengrinews.kz со ссылкой на Казгидромет.

    По данным синоптиков, завтра в Нур-Султане ожидаются сильный снегопад и метель.

    В Восточно-Казахстанской области местами ожидаются сильный снег, метель. Ветер с порывами до 25 метров в секунду.

    В Мангистауской области ожидается восточный, юго-восточный ветер, местами 15-20 метров в секунду.

    В Акмолинской области ночью на юго-востоке ожидается сильный снег. Местами ожидаются туман, низовая метель. Ветер северо-западный, северный, ночью местами 15-20 метров в секунду.

    В Туркестанской области местами ожидаются туман, низовая метель, ветер восточный 15-20 метров в секунду.

    29-30 ноября в Жамбылской области местами ожидаются туман, гололед, низовая метель. Ветер северо-восточный местами 15-20 метров в секунду. В Таразе 29-30 ноября временами ожидается туман.

    В Кызылординской и Костанайской областях 29 ноября ожидается туман. В Павлодарской области ожидается местами сильный снег. Местами туман, низовая метель.
</p>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/News">News</a>
</li>
