@page
@model News1Model
@{ ViewData["Title"] = "Рой Джонс захотел реванша с Майком Тайсоном"; }
<p>
    Рой Джонс захотел реванша с Майком Тайсоном
    <br><img src="images/n1.jpeg" class="blockimages">

    <br>"Мы должны сделать это снова. Все любят Майка, я тоже люблю Майка. Когда он бьет по голове, по корпусу, все болит. Удары по телу определенно сказались, такие удары изнуряют тело. Я поговорю со своей семьей, узнаю, что они думают по этому поводу, если они захотят это повторить, мы сделаем это снова", - цитирует Джонса Р-Спорт со ссылкой на Mirror.

    Джонс-младший, вышедший на поединок в перчатках, которые были раскрашены в цвета клуба НБА "Лос-Анджелес Лейкерс", сказал, что посвящает бой с Тайсоном погибшему Коби Брайанту.

    <br>"Я должен был посвятить этот бой Коби. Для меня Майкл Джордан всегда был величайшим. Но Коби - выдающийся талант. И нам всем его очень не хватает", - сказал Джонс.

    Бой между 54-летним Тайсоном и 51-летним Джонсом-младшим прошел в Лос-Анджелесе (США) и завершился вничью. Поединок между бывшим абсолютным чемпионом мира в супертяжелом весе и экс-чемпионом в пяти весовых категориях носил выставочный характер. Тайсон появился на ринге впервые с 2005 года, Джонс - с 2018-го.

    Боксеры дрались по особому регламенту - восемь раундов по две минуты. <br>Изначально организаторы боя запретили нокаут, однако Тайсон и Джонс категорически с этим не согласились и нокаут был разрешен. На ринг оба спортсмена вышли без шлемов.

    Поединок продлился все восемь раундов и оказался весьма зрелищным. Оба ветерана продемонстрировали хорошую физическую форму и желание боксировать. Тайсон в своем стиле прорывался на ближнюю дистанцию с силовыми ударами, а Джонс больше двигался, уходил в клинч и иногда встречал соперника быстрыми ударами.

    В итоге неофициальные судьи от WBC признали этот поединок ничейным, чем оказался недоволен Майк Тайсон. Он заявил, что выиграл поединок. Рой Джонс в свою очередь, также не согласился с вердиктом и сказал, что победу одержал именно он.


</p>
<p>Вы можете посмотреть  <a href="https://www.youtube.com/watch?v=cd6qUhPu6YE">Майк Тайсон - Рой Джонс ПОЛНЫЙ БОЙ</a>.</p>
</div>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/News">News</a>
</li>
