@page
@model News3Model
@{
    ViewData["Title"] = "Франция намерена ужесточить наказание за загрязнение окружающей среды";
}
<p>
    Франция намерена ужесточить наказание за загрязнение окружающей среды
    <br><img src="images/n3.webp" class="blockimages">
    <br>
    Правительство Франции предложило ужесточить наказание для компаний за загрязнение окружающей среды, пишет ЕвроПульс.
    Отмечается, что в настоящий момент во Франции, как и в большинстве европейских стран, загрязнение природы считается административным нарушением.
    "Загрязнение природы станет уголовным преступлением. Ответственные за несоблюдение экологических норм сотрудники компании-нарушителя могут угодить в тюрьму на срок до 10 лет", – сообщает издание.
    Кроме того, предлагается в несколько раз поднять штрафы для юридических лиц за незаконный сброс отходов, неисправные фильтры и тому подобное. Планируется, что сумма взыскания будет в десять раз превышать ту выгоду, которую фирма могла бы получить, проигнорировав экологические требования.
    "Эти изменения – часть так называемого пакета законов об "экоциде" (от слов "экология" и "суицид"). Для его разработки власти Франции пригласили экологов, климатологов и просто активных жителей, которые выдвинули почти 150 предложений, как можно сократить выбросы парниковых газов и в целом снизить нагрузку на природу", – отмечается в статье.
    Кроме того, среди предложений также названо ужесточение наказания не только для компаний, но и для частных лиц, которые загрязняют окружающую среду.
</p>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/News">News</a>
</li>
